@charset "UTF-8";


/* PALETA DE CORES

    Marrons: rgb(54, 21, 21) 
             rgb(68, 29, 29)
             rgb(37, 19, 5)        

*/
* {
    background-color: rgb(54, 158, 54);
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
}

div#contador {
    text-align: center;
    margin: auto;
    padding-top: 20px;
    margin-bottom: 20px;
    display: block;
    width: 100px;
}
div#bola {
    margin: auto;
    display: block;
    margin-bottom: 50px;
    position: relative;
    background-image: url("../imagens/bola-de-futebol-1.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 200px;
}

section.upgrades {
    background-color: rgb(37, 19, 5);
    margin: 0px;
    padding: 0px;
    display: block;
    position: absolute;
    bottom: 0;
}

section.buffs {
    background-color: rgb(37, 19, 5);
    width: 216px;
    margin-left: 20px;
    display: none;
    position: absolute;
    bottom: 110px;
}

input.buffs {
    width: 30px;
    height: 30px;
    background-color: rgb(54, 21, 21);
    margin: 5px;
    display: inline-block;
    border-color: rgb(68, 29, 29);
}
input.buffs:hover {
    background-color: rgb(58, 28, 28);
}
input.buffs:disabled {
    background-color: rgba(75, 50, 50, 0.548);
    border-color: rgba(48, 30, 30, 0.61);
}

input.upgrades {
    color: rgb(151, 19, 19);
    text-align: center;
    width: 125px;
    height: 35px;
    background-color: rgb(54, 21, 21);
    padding: 5px;
    margin: 10px;
    display: inline-block;
    border-color: rgb(68, 29, 29);
}

input.upgrades:hover {
    background-color: rgb(58, 28, 28);
}

input.upgrades:disabled {
    background-color: rgba(75, 50, 50, 0.548);
    border-color: rgba(48, 30, 30, 0.61);
    color: rgba(151, 19, 19, 0.747);
}
