@charset "UTF-8";

/* PALETA DE CORES

    Marrons: rgb(54, 21, 21) 
             rgb(68, 29, 29)
             rgb(37, 19, 5)        

*/
* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background-image: url('../imagens/img-temas/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(54, 158, 54);
    background-position: top;
}
div#contador {
    font-size: 22px;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    margin-bottom: 20px;
    display: block;
    height: 50px;
}

#cps {
    font-size: 16px;
}
div#bola {
    margin: auto;
    background-image: url("../imagens/img-temas/sprite_bola3.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 40%;
    height: 145px;
    animation-name: bola2;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}
div#bola:hover {
    animation-name: bola;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;

}

@keyframes bola {
    from {
        width: 40%;
        height: 145px;
    }
    to {
        width: 49%;
        height: 27%;
    }
}

@keyframes bola2 {
    from {
        width: 49%;
        height: 27%;
    }
    to {
        width: 40%;
        height: 145px;
    }
}

section.upgrades {
    background-image: url('../imagens/madeira.png');
    background-size: contain;
    background-color: #251305;
    position: fixed;
    bottom: 0;
    max-height: 360px;
}

section#buff {
    background-image: url('../imagens/madeira.png');
    background-size: contain;
    background-color: #251305;
    width: 216px;
    max-height: 111px;
    margin-left: 20px;
    display: none;
    position: fixed;
    bottom: 179px;
    color: rgb(209, 209, 209);
}

section#powerup {
    display: block;
    position: absolute;
    right: 5px;
    top: 50px;
    margin: 0px;
    width: 60px;
    height: 200px;
}

input.powerup {
    position: absolute;
    margin: 3px;
    border: 1px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border-radius: 50px;
    width: 60px;
    height: 60px;
} 

div.img {
    position: absolute;
    margin: 3px;
    border: 1px;
    border-radius: 50px;
    width: 60px;
    height: 60px;
}

div#dri {
    background-image: url('../imagens/img-powerup/drible.png');
    background-size: cover;
    bottom: 0px;
}
#drible {
    bottom: 0px;
}

div#sim {
    background-image: url('../imagens/img-powerup/simular.png');
    background-size: cover;
    bottom: 69px;
}
#simular {
    bottom: 69px;
}

div#car {
    background-image: url('../imagens/img-powerup/carrinho.png');
    background-size: cover;
    top: 0px;
}
#carrinho {
    top: 0px;
}

input.powerup:hover {
    transform: translate(-2px, -2px);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.603);
    transition: 0.5s;
}

input.buffs {
    width: 30px;
    height: 30px;
    background-image: url('../imagens/tabua1.png');
    background-size: contain;
    background-color: #361515;
    margin: 5px 2px 2px 0px;
    border-color: rgb(68, 29, 29);
}
#chuteira {
    background-image: url('../imagens/img-buffs/chuteira.png');
    background-size: cover;
    border-color: black;
}
#camiseta {
    background-image: url('../imagens/img-buffs/Camiseta.png');
    background-size: cover;
    border-color: black;
}
#caneleira {
    background-image: url('../imagens/img-buffs/caneleira.png');
    background-size: cover;
    border-color: black;
}
#meia {
    background-image: url('../imagens/img-buffs/meia.png');
    background-size: cover;
    border-color: black;
}
#calção {
    background-image: url('../imagens/img-buffs/calcao.png');
    background-size: cover;
    border-color: black;
}
#braçadeira {
    background-image: url('../imagens/img-buffs/braçadeira.png');
    background-size: cover;
    border-color: black;
}
input.buffs:hover {
    background-color: rgb(58, 28, 28);
}
input.buffs:disabled {
    background-image: url('../imagens/tabua2.png');
    background-color: rgba(75, 50, 50, 0.548);
    border-color: rgba(48, 30, 30, 0.61);
}

input.upgrades{
    text-align: left;
    background-image: url('../imagens/tabua1.png');
    background-size: contain;
    color: rgb(255, 0, 0);
    min-width: 160px;
    height: 50px;
    background-color: rgb(54, 21, 21);
    display: inline;
    padding: 5px;
    margin: 5px auto 5px auto;
    border-color: rgb(68, 29, 29);
    font-size: 18px;
}

#passe, #escanteio, #cabeçada {
    margin-left: 8px;
}

#chute, #lateral, #agarrar {
    position: relative;
    right: -20px;
}

.upgrades div {
    display: none;
    color: rgb(209, 209, 209);
    background-color: rgba(12, 12, 12, 0.815);
    border-radius: 5px;
    max-width: 200px;
    height: 80px;
}

@keyframes infos {
    from {
        width: 0%;
        height: 0%;
    }
    to {
        width: 200px;
        height: 80px;
    }
}

#titulo, #infs, #titulo2, #infs2, #titulo3, #infs3, #titulo4, #infs4, #titulo5, #infs5, #titulo6, #infs6{
    display: none;
    margin: 5px;
    animation-name: infos;
    animation-delay: 2s;
}

.upgrades strong {
    color: rgb(54, 158, 54);
}

#infopass, #infochut, #infoesc, #infolat, #infocab, #infoagar{
    font-size: 14px;
    animation-name: infos;
    animation-delay: 2s;
    position: absolute;
    top: -100px;
    left: 30px;
}

span#infopasse {
    color: rgb(172, 168, 168);
    position: absolute;
    top: 10px;
    left: 140px;
   
}
span#infochute {
    color: rgb(172, 168, 168);
    position: absolute;
    top: 10px;
    right: 13px;
}
span#infoescanteio {
    color: rgb(172, 168, 168);
    position: absolute;
    top: 70px;
    left: 140px;
}
span#infolateral {
    color: rgb(172, 168, 168);
    position: absolute;
    top: 70px;
    right: 13px;
}
span#infocabeçada {
    color: rgb(172, 168, 168);
    position: fixed;
    bottom: 26px;
    left: 140px;
}
span#infoagarrar {
    color: rgb(172, 168, 168);
    position: fixed;
    bottom: 26px;
    right: 13px;
}

input.upgrades:disabled {
    background-image: url('../imagens/tabua2.png');
    background-color: #4b3232;
    border-color: rgba(48, 30, 30, 0.61);
    color: rgba(255, 0, 0, 0.767);
}
